<a href="https://colab.research.google.com/github/vatsdimri/Projects/blob/main/Web_scrapping/movies_imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import re
import pandas as pd

In [2]:
# # url: https://imdb.to/3CzG7te

# page = requests.get('https://imdb.to/3CzG7te')
# soup = bs(page.content)

In [3]:
T1 = 1
T2 = 5

In [4]:
def get_info(sample):
    if len(sample.find('h3').find('span').contents[0].split(','))>1:
        number = int(float(sample.find('h3').find('span').contents[0].split(',')[0] + sample.find('h3').find('span').contents[0].split(',')[1]))
    else:
        number = int(float(sample.find('h3').find('span').contents[0]))
    name = str(sample.find('h3').find('a').contents[0])
    if sample.find('span', attrs={'class': 'runtime'}) is None:
        time = None
    else:
        time = int(str(sample.find('span', attrs={'class': 'runtime'}).contents[0]).split()[0])
    return number, name, time


def create_dataframe(soup):
    data = pd.DataFrame()
    list = soup.findAll('div', attrs={'class': 'lister-item-content'})
    number = []
    movie = []
    runtime = []
    for s in list:
        num, name, time = get_info(s)
        # print(num)
        number.append(num)
        movie.append(name)
        runtime.append(time)

    data['number'] = number
    data['movie'] = movie
    data['runtime'] = runtime
    return data

In [5]:
# # finding the next link
# base = 'https://www.imdb.com'
# added = str(soup.find('a', attrs={'class': 'lister-page-next next-page'})['href'])
# next_link = base + added

In [6]:
base = 'https://www.imdb.com/search/title/?release_date=2018-01-01,2018-12-31&sort=num_votes,desc&start='
start = base + str(1000)
start

'https://www.imdb.com/search/title/?release_date=2018-01-01,2018-12-31&sort=num_votes,desc&start=1000'

In [7]:
T1 = 1
T2 = 5
complete_data = pd.DataFrame()
url = base + str(T1)
for i in range(T1, T2+1, 50):
    r = requests.get(url)
    soup = bs(r.content)
    
    data = create_dataframe(soup)
    
    url = base + str(i+50)
    if i == 1000:
        complete_data = data
        continue 
    frames = [complete_data, data]
    complete_data = pd.concat(frames)

In [8]:
complete_data.set_index('number', inplace=True)

In [9]:
complete_data

                                              movie  runtime
number
1                            Avengers: Infinity War      149
2                                     Black Panther      134
3                                        Deadpool 2      119
4                                 Bohemian Rhapsody      134
5                                     A Quiet Place       90
6                 Spider-Man: Into the Spider-Verse      117
7                                        Green Book      130
8                                             Venom      112
9                                           Aquaman      143
10                                 Ready Player One      140
11                             Ant-Man and the Wasp      118
12                                   A Star Is Born      136
13                          Solo: A Star Wars Story      135
14                                         Bird Box      124
15                    Mission: Impossible - Fallout      147
16                                     Annihilation      115
17                   Jurassic World: Fallen Kingdom      128
18                                       Hereditary      127
19                                    Incredibles 2      118
20      Fantastic Beasts: The Crimes of Grindelwald      134
21                                   BlacKkKlansman      135
22                       The Haunting of Hill House      572
23                                              You       45
24                                       Game Night      100
25                                    Ocean's Eight      110
26                                      Tomb Raider      119
27                                    The Favourite      119
28                                        First Man      141
29                                      Red Sparrow      140
30                                          Upgrade      100
31                                        Cobra Kai       30
32                                Crazy Rich Asians      120
33                                          The Meg      113
34                                   Altered Carbon       60
35                                     Isle of Dogs      101
36                                          Rampage      107
37                                        Bumblebee      114
38                                        Searching      102
39                        Ralph Breaks the Internet      112
40                                  The Equalizer 2      121
41                                             Roma      135
42                                        Halloween      106
43                       Bad Times at the El Royale      141
44                                   A Simple Favor      117
45                      Sicario: Day of the Soldado      122
46                     The Ballad of Buster Scruggs      133
47                                             Vice      132
48                                       Succession       60
49                                          The Nun       96
50                      Maze Runner: The Death Cure      143

In [10]:
final_dataset = complete_data[complete_data.index <=T2]
final_dataset

                         movie  runtime
number
1       Avengers: Infinity War      149
2                Black Panther      134
3                   Deadpool 2      119
4            Bohemian Rhapsody      134
5                A Quiet Place       90

In [11]:
output = final_dataset[final_dataset.runtime == max(final_dataset.runtime)]

In [12]:
print(str(output['movie'].values[0]) + "  " + str(output['runtime'].values[0]))

Avengers: Infinity War  149